:host{
    display: block;
    height: 20px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #CFCFCF;
    background-color: #fafafa;

    div{
        background-color: #9227A5;
        height: 100%;
        width: 30%;
    }
}