<!-- <form [formGroup]="form">
  <app-input name="name" formControlName="name" id="name"></app-input>
  <input type="text" formControlName="apellido">
  {{form.value | json}}
</form> -->

<!-- ================================= Progress Bar ===================================================== -->

<app-progress-bar 
[progress]="counterProgress">
</app-progress-bar>
<app-counterdown #countdown
 [init]="totalCountDown" 
 (onDecrease)="updateProgress($event)" 
 (onComplete)="countDownFinish()"
 ></app-counterdown>

 <button (click)="countdown.startCountDown(); counterProgress = 0;"> Restart</button>